p {
  font-family: 'raleway';
  font-size: 18px;
  color: black;
  line-height: 1.25;
}

li {
  font-family: 'raleway';
  font-size: 18px;
  color: black;
}

a {
  font-family: 'raleway';
  font-size: 18px;
  color: #1f7a8c;
}

h1 {
  font-family: 'raleway';
  font-weight: 600px;
  font-size: 20px;
}

h2 {
  font-family: 'raleway';
  font-weight: 600px;
  font-size: 20px;
}

h3 {
  font-family: 'raleway';
  font-weight: 600px;
  font-size: 20px;
}

h4 {
  font-family: 'raleway';
  font-weight: 600px;
  font-size: 20px;
}

h5 {
  font-family: 'raleway';
  font-weight: 600px;
  font-size: 20px;
}

h6 {
  font-weight: 600px;
  font-size: 20px;
}

li {
  font-family: 'raleway';
}

.team-details {
  margin-top: 3.5rem;
  margin-bottom: 2rem;
}

#listing-page-container {
  margin: 0px;
  width: 100%;
}

a:hover {
    text-decoration: underline;
}

#listing-image {
  height: auto;
  width: 75%;
  margin: 0 auto;
}

.listing_h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 45px;
  color: black;
  margin: 0px;
}

.listing_h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: rgba(39, 76, 119, 1);
  margin: 0px;
}

.listing_category {
  font-weight: 400;
  font-family: "Raleway";
  font-size: 20px;
  color: grey;
  margin-bottom: 0.5rem;
}

.listing_p {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: grey;
  font-size: 18px;
}

#store-info-div {
  border: solid;
  border-width: 5px;
  border-color: #3aa7a3;
  border-radius: 25px;
  padding: 1.5rem;
  padding-bottom: 0rem;
  overflow: hidden;
  margin-bottom: 1rem;
}

#header-image {
  /* margin: 0 auto; */
  padding: 0rem;
  padding-left: 1rem;
  padding-bottom: 0rem;
}

#contact-segment {
  margin-bottom: 0px;
  margin-top:  1rem; 
}

.image-columns {
  margin: 0px;
  padding: 0px;
}

#image-row {
  padding: 0px;
}

#listing-column {
  background: #ffffff;
  padding: 3rem;
  padding-top: 0px;
  padding-bottom: 1rem;
  /* box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12); */
  /* border: solid;
  border-width: .5px 0px 0px 0px;
  border-color: black; */
}

#listing_description {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: black;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}

#contact-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 25px;
  margin: 0 auto;
  color: #8b786d;
}

#description-header {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 25px;
  margin: 0 auto;
  color: #8b786d;
}

.contact-info {
  font-weight: 300;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: black;

}

.contact-item {
  padding: 1rem;
}

#contact-list {
  margin-top: 0rem;
}

#contact-hr {
  margin-bottom: 0px;
}

#listing-header-buttons {
  background: rgba(39, 76, 119, 1);
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 14px;
}

#claimed {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: black;
  font-size: 14px;
  margin: 0px;
}

.nav-bar {
  width: 100%;
  margin: 0px;
  padding: 1.5rem;
  background: rgba(39, 76, 119, 1);
  color: white;
  position: relative;
}

.nav-h1 {
  font-size: 40px;
  font-weight: 700;
  font-family: "Montserrat";
  display: inline;
}

#home-button {
  padding: 0.75rem;
  float: right;
  background: white;
  color: black;
  position: relative;
  width: 15%;
  text-align: center;
}

#social-media {
  margin-top: 0rem;
  margin-bottom: 1rem;
}

#map-container {

  height: 35vh;
  width: 100%;
  margin-right: 0px;
  position: relative;
  overflow: hidden;
  max-height: 61vh;
  display: inline-block; 
}

#map {
  height: 100%;
  position: absolute;
  height: 100%;
  width: 100%;
}

.section-header {
  font-weight: 500;
  font-size: 25px;
  font-family: "Raleway", sans-serif;
  margin: 0px;
  margin-bottom: 1rem;
  color: black;
}

#section-header {
    font-weight: 500;
    font-size: 25px;
    font-family: "Raleway", sans-serif;
    margin: 0px;
    color: black;
}

#location-address {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 16px;
  display: inline;
  color: black;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

#get-direct {
  margin: 0px;
  /* width: 50%; */
  /* border: solid;
  border-width: 5px;
  border-radius: 0px 0px 25px 25px;
  border-top: 0px; */
  /* padding: 1rem; */
  /* border-color: #8b786d; */
  margin-bottom: 2rem;
  width: 50%;
  background: #f9f9f9;
}

.nav-bar {
  width: 100%;
  margin: 0px;
  padding: 1.5rem;
  background: #3aa7a3;
  color: white;
  position: relative;
}

#page-container {
  width: 100vw;
  margin: 0px;
  max-height: 100vh;
  position: relative;
  overflow: hidden;
}

.nav-h1 {
  font-size: 40px;
  font-weight: 700;
  font-family: "Raleway" sans-serif;
  display: inline;
}

#home-button {
  padding: 0.75rem;
  float: right;
  background: white;
  color: black;
  position: relative;
  width: 15%;
  text-align: center;
}

#back-column {
  padding: 0px;
}

.slick-arrow:before {
  color: black;
}

.slick-initialized .slick-track {
    display: flex;
    align-items: center;
    max-height: 55vh;
}

/* #direction-link {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
} */

#website-div {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

#website-link {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

#youtube-col {
  padding: 0px;
  margin-top: 1rem;
}


#title-section {
    /* margin-left: 6.25%; */
}

#website-link {
  color: #1f7a8c;
}

#hours-column {
    padding: 2rem;
    display: inline-block;
    text-align: center;
}

.hours-text {
    font-family: 'Raleway';
    font-weight: 300;
    font-size: 16px;
    color: black;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#hours-accordion {
  text-align: center;
  font-family: 'Raleway';
  font-weight: 500;
  font-size: 16px;
  padding-top: 0rem;
  padding-bottom: 1rem;
}

.faq-header {
  font-family: 'Raleway';
  font-weight: 500;
  font-size: 18px;
}

#currentHours {
  font-family: 'Raleway';
  font-weight: 300;
  font-size: 18px;
  
}

#special-skills-accordion {
  width: 343px;

}

#special-skills-text {
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}

#listBusiness-button {
  background: #1f7a8c;
}

#back-p {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  color: #1f7a8c;
  padding: 0.5rem;
}

hr.style14 { 
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

.section-title {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 20px;
  color: black;
}

#claim-button {
  width: 343px;
  padding: 1rem;
  font-family: 'Raleway';
  font-size: 20px;
  font-weight: 500;
  margin-top: 1rem;
}

#images-column {
  background: 	#f9f9f9;
  padding-bottom: 0px;
  padding-top: 0rem;
  padding: 0px;
  overflow: hidden;
  /* border: solid;
  border-color: #696969;
  border-width: 0px 0px 2.5px 0px ; */
}


.slick-slide { 	
    cursor: pointer;
  
  }

  /* .slick-track {
    height: 353px;
  } */

#images {
  padding: 25px;
  padding-bottom: 0px;
  padding-top: 0px;
  height: 100%;

}

.carousel-images {
  height: 50vh;
  width: auto;
  object-fit: cover;
}

#title-section-row {
  padding-top: 0px; 
  width: 100%;

}

#image-content {
  height: 100%;
  width: auto;
}

#title-row {
  padding: 2rem;
}

#todays-hours-div {
  margin-bottom: 1rem;
}

#right-rail-bottom {
  width: 350px;
}

.ha-subtitle {
  font-family: 'lato';
  font-weight: 300;
  font-size: 20px;
  color: #1F7A8C;
}
